# Vim swap files.
*.swp
*.swo
# Object files.
*.o
# gcc precompiled headers.
*.gch
# Compiled programs for testing.
list_mwe
list_test
test
dlist_mwe
array_mwe
array_1d_mwe
array_2d_mwe
int_array_1d_mwe
stack_mwe
queue_mwe

